.component{
    width: 100%;
    height: auto;
    margin-top: 4%;
    text-align: center;
}
.componentRow {
    width: 100%;
    overflow: hidden;
    border-bottom: 1px rgba(149, 146, 146, 0.5) solid;
}
.textDanger {
    color: var(--error);
}
.textWarning{
    color: var(--color4);
}
.textCorrect {
    color: var(--correct);
}