.table{
    border: 1px rgba(149, 146, 146, 0.5) solid;
    background-color: var(--color-fondo);
    border-radius: 5px;
    padding: 5%;
    box-shadow: 0px 0px 10px darkgrey;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
    z-index: 3;
}
.head {
    text-align: center;
    margin-top: -5px;
}
.title{
    color: var(--color1);
    font-family: var(--font-base);
    font-weight: bold;
    font-size: var(--font-11);
    margin-top: 15px;

}
.month{
    color: var(--color1);
    font-family: var(--font-base);
    font-weight: bold;
    font-size: var(--font-11);
}
.count{
    color: var(--color1);
    font-family: var(--font-base);
    font-weight: 200;
}
.tr {
    border-bottom: 1px rgba(149, 146, 146, 0.5) solid;
}